.hero_block {
  text-align: center;
  overflow: hidden;

  @include background-gradient(#a3d4f8, #429ada);

  &__header {
    @include rem(margin, 85px 0);
  }

  &__intro {
    font-family: 'Lato', arial, sans-serif;
    line-height: 1.25;
    letter-spacing: 0.3px;
    text-align: center;
    color: #ffffff;
    font-weight: bold;

    @include rem(font-size, 18px);
    @include rem(margin-bottom, 50px);
  }

  &__place {
    font-family: 'Lobster Two', cursive;
    color: $text_darkbrown;
    font-weight: normal;
    line-height: 0.8;
    text-align: center;

    @include rem(font-size, 56px);
    @include rem(margin-bottom, 24px);
  }

  &__area {
    font-family: 'Lato', arial, sans-serif;
    font-weight: bold;
    line-height: 1.25;
    letter-spacing: 2.5px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;

    @include rem(font-size, 24px);
  }
  
  &__img {
    float: right;
    position: relative;

    @include rem(top, 16px);
    @include transform(translate3d(0px, 27.2px, 0px));
  }
}

.app_block {
  background: #fff;
  border-top: #dcdcdc solid 1px;
  border-bottom: #dcdcdc solid 1px;
  font-size: 16px;

  @include rem(padding, 13px 0);

  .label {
    @include rem(margin-right, 26px);
  }

  .emoji {
    font-size: 30px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 32px;
  }

  a {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -1px;
  }
}