
.disable_padding{
	padding-left: 0;
	padding-right: 0;
}

.social_list {
	list-style: none;
	padding:0;
	font-size: 0;
  margin-bottom: 0;

	&__item {
		display: inline-block;
		vertical-align: top;
    text-align: left;
    @include rem(margin-right,  16px);

    &:last-child {
      margin-right: 0 !important;
    }

    &:first-child {
      @include rem(margin-left,  -8px);
    }

    a {
			color: #fff;
			@include rem(padding,  7px);
			@include rem(font-size, 20px);
			@include transition(all .3s ease);

			&:hover {
				color: rgba(#fff, .7);
			}
		}
	}
}

.copy {
  color: #fff;

	img {
		@include rem(width,  50px);
	}
}

.label {
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.4px;
  color: #fff;
  display: inline-block;
  vertical-align: middle;

  @include rem(font-size, 18px);
  @include rem(border-radius, 6px);
  @include rem(padding, 9px 20px);
}

.label-gray {
  background: #bbb;
}

.content {
  background: #fcfcfc url('../images/group-copy@3x.png') no-repeat center bottom;

  @include background-size(contain);
  @include rem(padding, 50px 0 230px);

  @media all and (max-width: 991px) {
    padding-bottom: 100px;
  }

  @media all and (max-width: 767px) {
    padding-bottom: 20px;
    padding-top: 57px;
    background-image: none;
  }
}