.btn {
  border-radius: 6px;

  @include transition($transition);
}

.btn-default, .btn-light {
  background-color: #f6f6f6;
  color: $multi_blue;
  border: 0;

  @include rem(font-size, 14px);
  @include rem(padding, 8px 16px);

  .fa {
    color: #dcdcdc;
    display: inline-block;
    vertical-align: middle;

    @include rem(font-size, 20px);
    @include rem(margin-left, 7px);
  }

  &:hover, &:active, &:focus {
    background-color: #f1f1f1 !important;
    color: $multi_blue !important;
    box-shadow: none!important;
  }

  &:active {
    background-color: #eaeaea !important;
  }
}

.btn-light {
  background: rgba(#fff, .25);
  color: #fff;

  @include rem(font-size, 13px);
  @include rem(padding, 10px 23px);


  .fa {
    color: #fff;
  }

  &:hover, &:active, &:focus {
    background: rgba(#fff, .4) !important;
    color: #fff !important;
  }

  + .btn-light {
    @include rem(margin-top, 15px);
  }
}

.btn-icon {
  background: transparent;
  color: #d5cbcb !important;
  line-height: normal;

  @include rem(font-size, 17px);
  @include rem(padding, 0px 8px);

  &:hover {
    color: $alt_multi_blue !important;
  }
}

.form-control {
	position: relative;
	border: 0;

	&:focus {
		outline: none;
		box-shadow: none;
	}

	@include placeholder {
		color: #68504e;
		letter-spacing: 0.5px;
		font-family: 'Lato', arial, sans-serif;
	}
}